<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulário de Pesquisa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <div class="container">
    <h1>Bem vindo ao Olimpo!</h1>
    <img src="{{ url_for('static', filename='img/Olimpo.png') }}" alt="Logo do Olimpo" class="logo">
    <p>Teste nossa IA e descubra se você é um cliente em potencial do Olimpo!</p>
    
    <form method="POST" action="/" class="form-container">
      <div class="form-sections">
        <!-- Seção de Perguntas Pessoais -->
        <div class="form-section">
          <h2>Perguntas Pessoais</h2>
          
          <label for="faixa_etaria">Qual é a sua faixa Etária?</label>
          <select name="faixa_etaria" id="faixa_etaria" required>
            <option>Menor ou igual a 17 anos</option>
            <option>Entre 18 e 24 anos</option>
            <option>Entre 24 e 30 anos</option>
            <option>Entre 30 e 36 anos</option>
            <option>Entre 36 e 42 anos</option>
            <option>Maior ou igual a 43 anos</option>
          </select>

          <label for="cidade">Em que cidade você mora?</label>
          <p style="margin: 22px 0px;">Se sua cidade não estiver nas opções, escolha São Paulo.</p>
          <select name="cidade" id="cidade" required>
            <option>São Paulo</option>
            <option>Osasco</option>
            <option>Carapicuíba</option>
            <option>Itamonte</option>
            <option>Itaquaquecetuba</option>
            <option>Itajuba</option>
            <option>São Bernardo Do Campo</option>
            <option>Vitória</option>
            <option>Andradina</option>
            <option>Bauru</option>
            <option>Sumaré</option>
            <option>Vila Velha</option>
            <option>Serra</option>
            <option>Cuiabá</option>
            <option>Cariacica</option>
            <option>Caieiras</option>
            <option>Rio De Janeiro</option>
            <option>João Pessoa</option>
            <option>Canoas</option>
            <option>Cotia</option>
          </select>

          <label for="situacao_trabalho">Em que situação de trabalho você se encontra no momento?</label>
          <select name="situacao_trabalho" id="situacao_trabalho" required>
            <option>Empregado</option>
            <option>Autônomo</option>
            <option>Desempregado</option>
          </select>

          <label for="qualidade_vida">Como você considera a sua qualidade de vida atual?</label>
          <select name="qualidade_vida" id="qualidade_vida" required>
            <option>Boa</option>
            <option>Ótima</option>
            <option>Ruim</option>
            <option>Péssima</option>
          </select>

          <label for="renda_familiar">Qual é a sua renda familiar atual?</label>
          <select name="renda_familiar" id="renda_familiar" required>
            <option>Classe A</option>
            <option>Classe B</option>
            <option>Classe C</option>
            <option>Classe D</option>
            <option>Classe E</option>
          </select>
          <table class="observation-table">
            <tr><th>Classe</th><th>Renda</th></tr>
            <tr><td>Classe A</td><td>Superior a R$ 28,2 mil</td></tr>
            <tr><td>Classe B</td><td>Entre R$ 14,1 mil e R$ 28,2 mil</td></tr>
            <tr><td>Classe C</td><td>Entre R$ 5,6 mil e R$ 14,1 mil</td></tr>
            <tr><td>Classe D</td><td>Entre R$ 2,8 mil e R$ 5,6 mil</td></tr>
            <tr><td>Classe E</td><td>Até R$ 2,8 mil</td></tr>
          </table>

          <label for="animais">Você possui animais de estimação:</label>
          <select name="animais" id="animais" required>
            <option>Não</option>
            <option>Sim</option>
          </select>
        </div>

        <!-- Seção de Perguntas Relacionadas à Comunidade -->
        <div class="form-section">
          <h2>Perguntas sobre a Comunidade</h2>

          <label for="tipo_moradia">Qual é o seu tipo de moradia atual?</label>
          <select name="tipo_moradia" id="tipo_moradia" required>
            <option>Apartamento</option>
            <option>Casa</option>
          </select>

          <label for="pessoas_casa">Quantas pessoas dividem a casa com você?</label>
          <select name="pessoas_casa" id="pessoas_casa" required>
            <option>Nenhuma</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4 ou mais</option>
          </select>

          <label for="satisfacao_comunicacao_comunidade">De 1 a 10, qual é o seu nível de satisfação com a comunicação na comunidade em que vive?</label>
          <select name="satisfacao_comunicacao_comunidade" id="satisfacao_comunicacao_comunidade" required>
            {% for option in range(1, 11) %}
            <option>{{ option }}</option>
            {% endfor %}
          </select>

          <label for="frequencia_contato">Com que frequência você interage com as pessoas da comunidade em que vive?</label>
          <select name="frequencia_contato" id="frequencia_contato" required>
            <option>Diariamente</option>
            <option>Frequentemente</option>
            <option>Ocasionalmente</option>
            <option>Raramente</option>
            <option>Nunca</option>
          </select>
          <table class="observation-table">
            <tr><th>Frequência</th><th>Descrição</th></tr>
            <tr><td>Diariamente</td><td>Todos os dias</td></tr>
            <tr><td>Frequentemente</td><td>Pelo menos 3 vezes na semana</td></tr>
            <tr><td>Ocasionalmente</td><td>Pelo menos 1 vez na semana</td></tr>
            <tr><td>Raramente</td><td>Pelo menos 1 vez no mês</td></tr>
            <tr><td>Nunca</td><td>Nenhuma interação</td></tr>
          </table>

          <label for="comunicacao_importante">Você acredita que a comunicação em comunidades é importante?</label>
          <select name="comunicacao_importante" id="comunicacao_importante" required>
            <option>Sim</option>
            <option>Não sei</option>
            <option>Não</option>
          </select>

          <label for="usa_plataforma">Você utiliza alguma plataforma de gestão/comunicação com a sua comunidade?</label>
          <select name="usa_plataforma" id="usa_plataforma" required>
            <option>Não</option>
            <option>Sim</option>
          </select>
        </div>
      </div>

      <input class="btn" type="submit" value="Enviar" />
    </form>
  </div>
</body>
</html>
